.login{
    height: 100%;
    width: 100%;
}
/* 头部部分样式 */
.top_nav{
    border: 1px solid #ccc;
    background: #F3F3F5;
}
.top_nav .w{
    height: 30px;
}
.top_nav .top_navtl li{
    border-right:1px solid #ccc;
    font-size:14px;
}
.top_nav .top_navtl li:hover a{
    color:#E60012;
}
.top_nav .top_navtr li:hover a{
    color:#E60012;
}
.top_nav .top_navtl li:nth-child(1){
    border-left:1px solid #ccc;
    background:#fff;
}
.top_nav .top_navt li{
    text-align:center;
    line-height:20px;
    padding:5px;
  
}
.zhuce{
    height: 42px;
    padding:13px 0;
}
.zhuce img{
    width: 150px;
    height: 32px;
    padding-right:20px;
    border-right:1px solid #ccc;
}
.zhuce span{
    display:block;
    width: 90px;
    height: 40px;
    line-height:40px;
    text-align:center;
    font-size:16px;
    padding-left:20px;
    color:#666;
    font-weight:bold;
}
.aboutuser{
    padding:5px;
}
.aboutuser span{
    display:inline-block;
    line-height:20px;
    width:50px;
    color: #E60012;
}
.aboutuser span:nth-child(2){
    border-right:1px solid #ccc;
}
.top_navtl li a{
    display:block;
    width: 98px;
    color:#666666;
}
.top_navtr li a{
    padding:8px;
    color:#666666;
}


/* 登录 */
.zhuce_d{
    height: 553px;
    background:url(../images/beijing.jpg);
    position:relative;
}



.nreg_left {
    background: #fff;
    box-sizing: border-box;
    margin-top: 50px;
    width: 378px;
    position: absolute;
    right:200px;
    top:20px;
}

.nreg_item {
    box-sizing: border-box;
    width: auto;
}

.tab_sig_reg {
    margin: 24px 15px 0 15px;
}

.tab_sig_reg li {
    background: #f3f3f3;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
}

.tab_sig_reg li a {
    color: #333;
}

.tab_sig_reg li a:hover {
    color: red;
}

.tab_sig_reg .tab_cur {
    background: #333;
}

.tab_sig_reg .tab_cur a {
    color: #fff;
}

.tab_sig_reg .tab_cur a:hover {
    color: #fff;
}

.tab_sig_reg .tab_sig {
    margin-left: 53px;
    margin-right: 5px;
}

.zc_b{
    width: 340px;
    height: 360px;
    padding:20px;
}
.zc_b div:nth-child(1){
    width: 313px;
    height: 38px;
    border: 1px solid #ccc;
    line-height:38px;
    padding-left:10px;
    margin-bottom:30px;
}
.zc_b div:nth-child(1) label{
    color: #000;
    font-size:14px;
    font-weight:bold;
  
}
.zc_b div:nth-child(2) div{
    width: 200px;
    height: 38px;
    border: 1px solid #ccc;
    line-height:38px;
    padding-left:10px;
}
.zc_b div:nth-child(3) div{
    width: 235px;
    height: 38px;
    border: 1px solid #ccc;
    line-height:38px;
    padding-left:10px;
}
.zc_b div:nth-child(3) span{
    width: 73px;
    height: 38px;
    text-align:center;
    line-height:38px;
    background:#000;
    color:#fff;
    margin-left:6px;
}
.zc_b div:nth-child(4){
    width:313px;
    height: 38px;
    border: 1px solid #ccc;
    line-height:38px;
    padding-left:10px;
}
.zc_b div:nth-child(4) label{
    color: #000;
    font-size:14px;
    font-weight:bold;
}
.zc_b p
{
    margin-top:20px;
}
#reg_buton{
    width:313px;
    height: 38px;
    border: 1px solid #ccc;
    line-height:38px;
    padding-left:10px;
    background:#E60012;
    color:#fff;
    margin-top:20px;
    font-size:14px;
    font-weight:bold;
}



/* 底部 */
.banner_p{
    text-align:center;
    font-size:14px;
    height: 40px;
}
